@model MeetingSetupViewModel 
<div class="admin-box-container">
    <div class="admin-list">
        <div class="admin-list-controls">
             <div id="loading" class="hide spinner-border text-primary" role="status">
               <span class="sr-only">Loading...</span>
             </div>
            <h4 id="players">Players</h4>
           <input style="display:none" type="button" class="cbtn mini" data-url="@Url.Action("GetParticipants", "Home")"  value="Update" id="getparticipants"   />  
        </div>
        <ul id="participants"> </ul>
    </div>
    <div class="admin-control">
        <form asp-antiforgery="true" >
            <button class="cbtn v2" id="createpair" >create Pair</button>  
            <input class="hide-on-mobile" type="button" data-url="@Url.Action("CreateLinkMeeting", "Home")" value="Update Link Zoom" id="sent"   />
            <input class="hide-on-mobile" asp-for="Link"/>
        
            <span class="text-success msg" id="errors"></span>
        </form>  

        

        <div class="timer">
            <div class="minutes">
                 <input type="number" id="mm" value=0 max=24>
                 <input type="number" id="ss" value=30 max=60>
                 <button class="cbtn v2" id="go" >Go!</button>
            </div>
            <div class="timed">
                <span id="timeronscreen"> 00:00 </span>
            </div>

        </div>
        
        <ul id="pairparticipants">  </ul>
    </div>
</div>
@section Scripts {
      <script>
          CreateLinkToServer()
          CreateBindToGetParticipants();
          CreateBindToCreatePair();
     </script>
}