@model MeetingViewModel 
<div class="boxcontainter">
    <div class="hero">
         <form asp-antiforgery="true" >  
            <div class="item"> 
                <input placeholder="Name" asp-for="Name" required /> 
                <span asp-validation-for="Name" class="text-danger"></span>  
            </div>
            <div class="item">
                <input placeholder="Email" asp-for="Email" required /> 
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="item">
                <input type="hidden" value="true" asp-for="Active"/>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked="checked" class="custom-control-input"  name="AcitveP" id="AcitveP">
                    <label class="custom-control-label" for="AcitveP">Actively Participating in the class</label>
                </div>

            </div>
            <div class="item submit-area">
                <div class="item-submit"> 
                    <div id="loading" class="hide spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div>
                    <input type="submit" data-url="@Url.Action("CreateParticipant", "Home")" value="get the link" id="sent" class="btn btn-primary" />
                    </div>                     
                </div> 
            </div>
        </form> 
        <div class="return">
            <span class="text-danger" id="errors">   </span>
            <div class="item link">
                <a id="zoom_link" href="" target="_blank" rel="noopener noreferrer"> </a>
            </div> 
        </div>
    </div>
</div>
 
@section Scripts {
      @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
      <script> SendParticipantToServer() </script>  
}