@model MeetingViewModel 
  

 <form method="post" asp-antiforgery="true" class="form-horizontal">
  <input type="hidden" asp-for="Data" />
  
  <label for="Name">Name</label>
  <input type="text" asp-for="Name" />
  <br><Br>
  <label for="Email">Email</label>
  <input type="email" asp-for="Email" />
  <br><Br>
  <input  type="checkbox" asp-for="Active" /> Ativo

  <Br>
 
 
  <button data-url="@Url.Action("CreateParticipant", "Home")" type="submit" id="entrar">Entrar</button>
</form>

@section Scripts {
    
}