<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check-In App</title>
    <partial name="_Links" />
</head>
<body>
    <div class="wrapper">
        <header id="main-header">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">Check-In App</a>
                        </li> 
                         <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="admin">Participants</a>
                        </li> 
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
               @RenderBody()
            </div>
        </main>
        <footer>
            <div class="container">
               
            </div>
        </footer>
    </div>
    @{ await Html.RenderPartialAsync("_Scripts"); }
    @RenderSection("Scripts", required: false)
</body>
</html>
