* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  background: #fff;
}

input,
button {
  outline: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header#main-header .containter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 0 15px;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  margin: 0 12px;
}

header#main-header nav ul li:first-child {
  margin-left: 0;
}
/* 
main .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.boxcontainter {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  background-color: #fff;
  margin-top: 15px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.hero form {
  display: flex;
  flex-direction: column;
}

.hero form .item {
  margin: 8px 0;
  flex: 1;
}

.hero form .item input[type="text"],
input[type="email"] {
  width: 100%;
  flex: 1;
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 55px;
  border-radius: 10px;
  padding: 0 30px 0 12px;
  color: #1f2523;
  font-size: 22px;
  font-weight: 100;
}

.submit-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-area .item-submit {
  display: flex;
}

.item-submit input[type="submit"] {
  height: 44px;
  width: 350px;
  background: #3bb9e3;
  border: 0;
  border-radius: 16px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 14px;
  border: 0;
  border-radius: 16px;
  color: #fff;
  text-transform: uppercase;
}

.btn-submit .item-submit {
  flex: 1;
  display: flex;
}

.return {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.return a {
  margin-left: 15px;
  font-size: 2em;
  color: #3bb9e3;
}

.hide {
  display: none;
}

.boxcontainter .content {
  display: flex;
  flex: 1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;

  height: 60px;
  line-height: 60px;
}

/*

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
 
html {
  position: relative;
  min-height: 100%;
}

body {
   
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
   
  height: 60px;
  line-height: 60px;  
}
*/

/* 
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

main {
  width: 100%;
}

.side {
  flex-basis: 100%;
  flex: 1;
}

.admin {
  background: #f0fcf8;
  padding: 15px;
}

.participantes {
  background: #a9e4d0;
  padding: 15px;
} */
